<section id="stats" class="section_stats">
  <div class="padding-global">
    <div class="container-large">
      <div class="padding-section-large">
        <div class="stats_component">
          <div class="margin-bottom margin-xxlarge">
            <div class="stats_content">
              <div class="stats_content-left">
                <h2>{{ $.Site.Data.home.stats.heading }}</h2>
              </div>
              <div class="stats_content-right">
                <p class="text-size-medium">{{ $.Site.Data.home.stats.intro }}</p>
              </div>
            </div>
          </div>
          <div class="stats_list">
            {{ range $i, $card := $.Site.Data.home.stats.cards }}
            {{ if eq $i 1 }}
            <div class="stats_image-wrapper">
              {{ with index $.Site.Data.home.stats.images 0 }}
              <img sizes="100vw" alt="" src="{{ .url }}" loading="lazy" srcset="{{ .srcset }}" class="stats_image">
              {{ end }}
            </div>
            {{ end }}
            <div class="stats_item{{ if $card.tall }} stats_item--tall{{ end }} {{ $card.bg_class }}">
              <div class="margin-bottom margin-large{{ if $card.tall }} z-index-1{{ end }}">
                <h3 class="heading-style-h5">{{ $card.title }}</h3>
              </div>
              <div class="stats_item-content{{ if $card.tall }} z-index-1{{ end }}">
                <div class="stats_number">{{ $card.number }}</div>
                <div class="margin-vertical margin-xsmall">
                  <div class="divider-horizontal"></div>
                </div>
                <p>{{ $card.description }}<br></p>
              </div>
              <img src="{{ $card.texture_url }}" loading="lazy" alt="" class="{{ $card.texture_class }}">
            </div>
            {{ if eq $i 2 }}
            <div class="stats_image-wrapper">
              {{ with index $.Site.Data.home.stats.images 1 }}
              <img sizes="100vw" srcset="{{ .srcset }}" alt="" src="{{ .url }}" loading="lazy" class="stats_image">
              {{ end }}
            </div>
            {{ end }}
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
